@import '../../utils/variabels.scss';
.projects {
  overflow-x: hidden;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: clamp(80rem, 100dvh, 2000rem);
  background-color: rgba($primary-color, 0.88);
  background-image: url('../../src/utils/images/fluidBackground.avif');
  background-size: cover;
  background-blend-mode: multiply;
}
.projects-cards-container {
  display: flex;
  width: 100%;
  padding-inline: 3rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  //   gap: 2rem;
}
.projects-card {
  position: relative;
  width: 30%;
  width: clamp(20rem, 20%, 50rem);
  aspect-ratio: 2/3;
  border-radius: 7px;
  background-color: $secondery-color;
  background-size: cover;
  background-repeat: no-repeat;
}
.project-crown {
  color: $secondery-color;
  position: absolute;
  font-size: 7rem;
  top: -4.8rem;
  right: -3.5rem;
  transform: rotate(30deg);
}

.projects-Psychologist {
  background-image: url('../../src/utils/images/Psychologist.png');
  background-position: 20% 50%;
}
.projects-Pawtner {
  background-image: url('../../src/utils/images/Pawtner.png');
  background-position: 50% 50%;
}
.projects-GlobalWeather {
  background-image: url('../../src/utils/images/GlobalWeather.png');
  background-position: 50% 93%;
}
