@import '../../utils/variabels.scss';
.contact {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $third-color;
  padding-bottom: 12rem;
  width: 100%;
  gap: 5rem;
  margin-top: -0.5rem;
}
.contact-title {
  font-weight: 500;
  font-size: clamp(4.5rem, 5vw, 5rem);
  color: $primary-color;
  text-align: center;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: clamp(17rem, 85%, 82rem);
  align-items: center;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  border-radius: 10px;
  padding: 4rem;
}
.contact-form-input-container {
  text-align: left;
  width: 100%;
  h1 {
    color: #666;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
  }
}

.contact-form-error {
  display: flex;
  color: rgba(255, 0, 0, 0.81);
  gap: 0.2rem;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
}
.contact-form-submit {
  @include classicButton;
  margin-top: 1rem;
  margin-left: auto;
}
.css-10botns-MuiInputBase-input-MuiFilledInput-input {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.css-leqjib-MuiInputBase-root-MuiFilledInput-root {
  padding-top: 15px !important;
  padding-bottom: 21px !important;
}
.css-leqjib-MuiInputBase-root-MuiFilledInput-root:after {
  border-bottom: 2px solid $secondery-color !important;
}
.css-2y464i-MuiInputBase-root-MuiFilledInput-root:after {
  border-bottom: 2px solid $secondery-color !important;
}
@media screen and (max-width: 750px) {
  .contact-form {
    padding: 4rem 2rem;
  }
}
