@import '../../utils/variabels.scss';

.motion-image {
  /* background-image: url('../../src/utils/images/header.webp');
  background-size: cover;
  background-repeat: no-repeat; */
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  background-color: $primary-color;
  background-size: 103% 103%;
  background-repeat: no-repeat;
  object-fit: fill;
}
