@import '../../utils/variabels.scss';
.drawer {
  width: 50rem !important;
}
.drawer-item {
  padding: 1.5rem !important;
  &:hover {
    .css-10hburv-MuiTypography-root {
      color: $secondery-color;
    }
  }
}
.css-10hburv-MuiTypography-root {
  font-size: 1.3rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
}
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  width: 250px;
}
.css-wf16b5 {
  font-size: 1.3rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  width: 250px !important;
}
.css-qs2q9j {
  padding: 1.5rem !important;
  font-size: 1.3rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  &:hover {
    .css-10hburv-MuiTypography-root {
      color: $secondery-color;
    }
  }
}
.css-yb0lig {
  padding: 1.5rem !important;
  font-size: 1.3rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  &:hover {
    .css-10hburv-MuiTypography-root {
      color: $secondery-color;
    }
  }
}
